@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

/* We do not set Courier since it is the default font */

.ql-container {
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    /* background: #fefcfc; */
}

/* Snow Theme */
.ql-snow.ql-toolbar {
    display: block;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    /* background: #eaecec; */
}

/* Bubble Theme */
.ql-bubble .ql-editor {
    padding: 0;
    /* border: 1px solid #ccc;
    border-radius: 0.5em; */
}

.ql-snow .ql-editor {
    /* padding: 0; */
    min-height: 18em;
    /* border: 1px solid #ccc;
    border-radius: 0.5em; */
}

.ql-editor {
    font-size: 16px;
}

.ql-editor ul {
    padding: 0;
}
